---
import { generateImage } from "astro-eleventy-img";
import { Icon } from "astro-icon";
import Starfield from "~/components/starfield.astro";
import HeroImage from "~/components/hero-image.astro";
import BokehBg from "./bokeh-bg.astro";
import GradientBg from "./gradient-bg.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const { webp, avif, png } = generateImage("src/assets/logo.png", {
  widths,
  formats: ["webp", "avif", "png"],
  outputDir: "public/assets/images/logo",
  urlPath: "/assets/images/logo",
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const pngSrcset = png.map(({ srcset }) => srcset).join(",");
---

<section class="relative h-full bg-black">
  <!-- <GradientBg /> -->
  <BokehBg />
  <!-- <Starfield /> -->
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full sm:grid-cols-2 place-items-center">
    <h2
      class="flex flex-col self-end gap-2 sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Icon name="logo-text" class="h-4 text-white sm:h-6 xl:h-12 drop-shadow-xl shadow-red-500 outline-red-500" />
      <div
        class="font-extrabold tracking-tighter text-center text-xl sm:text-4xl gradient-text drop-shadow-xl shadow-red-500 outline-red-500"
      >
        Video Editor
        <br /> Visual Designer
        <br /> Technician
        <br /> Writer and Director
      </div>
    </h2>
    <picture
      class="self-start w-1/3 max-w-xl sm:w-7/12 sm:self-auto sm:justify-self-start"
    >
      <source type="image/avif" srcset={avifSrcset} {sizes} />
      <source type="image/webp" srcset={webpSrcset} {sizes} />
      <source type="image/png" srcset={pngSrcset} {sizes} />
      <img
        class="object-cover w-full h-full rounded-full outline-red-500 border-y-yellow-700 border-1 bg-gradient-to-b from-orange-500 to-transparent bg-blend-color-burn"
        src={png[0].url}
        width={png[0].width}
        height={png[0].height}
        alt="Mike's face"
      />
    </picture>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  @keyframes wiggle {
    0%, 100% { transform: rotate3d(0, 0, 0, -2deg); }
    50% { transform: rotate3d(0, 0, 6, 1deg); }
  }

  picture {
    animation: wiggle linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }

    :global(#bokeh-bg) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
